<link rel="stylesheet" href="/css/navMenu.css" />

<div class="nav-menu col-2 d-flex flex-column">
  <a href="/tweets"><i class="bi bi-house-fill me-3"></i> Home</a>
  <!-- <a href="#"><i class="bi bi-search me-3"></i> Explore</a>
    <a href="#"><i class="bi bi-bell me-3"></i> Notifications</a>
    <a href="#"><i class="bi bi-envelope-open me-3"></i> Messages</a>
    <a href="#"><i class="bi bi-people me-3"></i> Communities</a>
    <a href="#"><i class="bi bi-person me-3"></i>Profile</a>
    <a href="#"><i class="bi bi-three-dots me-3"></i> More</a> -->
  <a href="/tweets/new"><button class="postBtn rounded-pill">Post</button></a>
</div>
