<% layout("layouts/boilerplate") %>

<div class="container mt-5 text-center">
  <div class="alert alert-danger" role="alert">
    <h1>Error</h1>
    <h2><%= err.message %></h2>
    <p><%= err.stack %></p>
  </div>
</div>
