/* Feed start */
.postTweet {
  min-height: 15vh;
  max-height: 20vh;
}
.postTweet .img-container {
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 0.5rem;
  overflow: hidden;
}

.postTweet .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.postTweet textarea {
  background-color: transparent;
  border: none;
  border-radius: 0;
  resize: none;
  color: white;
}
.postTweet textarea::placeholder {
  font-size: 1.2rem;
  color: grey;
}
textarea:focus {
  background-color: transparent !important;
  color: white !important;
  box-shadow: none !important;
}
.postTweet button {
  font-weight: 600;
  background-color: #1a8cd8;
  color: white;
  padding: 0.3rem 1rem;
  border: none;
}

/* feed > tweets */
.feed {
  border-right: 1px solid rgb(63, 63, 63);
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
}
.feed::-webkit-scrollbar {
  display: none;
}
.card {
  color: white;
  background-color: transparent;
}
.card-header {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-body {
  font-size: 1.25rem;
}
